:root {
  --color-theme-d2: #080e33;
  --color-theme-d1: #0c154a;
  --color-theme: #111e6c;
  --color-theme-l1: #192da1;
  --color-theme-l2: #2039cc;

  --color-accent-red: #c7331c;
  --color-accent-green: #2f7a3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-theme-d1);
}
